<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
    <link href="./assets/favicon.ico" rel="icon">

    <title>Altamash S. Rashid Portfolio</title>
    <link rel="stylesheet" href="assets/style.css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Tajawal:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- scroll animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body id="app">

    <div class="main-container" :dir="language === 'ar' ? 'rtl' : 'ltr'"> <!--==Menu and Profile ===== -->
        <!-- Floating Language Button -->
        <button class="lang-toggle" @click="toggleLanguage">
            {{ language === 'en' ? 'عربي' : 'English' }}
        </button>
        <div class="menu-profile">
            <!--**header**** -->
            <header>
                <nav>
                    <ul>

                        <li>
                            <a href="#about-us" :data-label="translations[language].about"  >
                                <i class="fa-solid fa-address-book"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#skills" :data-label="translations[language].skills" >
                                <i class="fa-solid fa-layer-group"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#projects" :data-label="translations[language].projects" >
                                <i class="fa-solid fa-briefcase"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#work" :data-label="translations[language].work" >
                                <i class="fa-solid fa-file-lines"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#education" :data-label="translations[language].education" >
                                <i class="fa-solid fa-graduation-cap"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- Profile Container-->
            <div class="profile-container">
                <div class="user-profile bg-gredient">
                    <div class="user-profile-container">
                        <!--img-->
                        <div class="user-profile-img">
                            <img src="assets/images/altamash-sm-bnw.webp" alt="Altamash S. Rashid" />
                        </div>
                        <!--Profile Box-->
                        <div class="user-profile-text">
                            <span>{{ translations[language].role }}</span>
                            <h1>{{ translations[language].name}}</h1>
                            <div class="profile-social-container">
                                <div class="" v-for="socialItem in socialMediaItems" :key="socialItem.id">
                                    <a class="fa-icon fa-icon-2x" :href="socialItem.href" target="_blank"> <i :class="socialItem.icon"></i></a>
                                </div>
                            </div>
                            <!-- user-address -->
                             <div class="user_address">
                                <p>{{ translations[language].address}}</p>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================ all-content ==================== -->
        <div class="all-content">
            <!-- =============== About us ================= -->
             <section id="about-us" class="section-container">
                <h3>{{ translations[language].hello}} <span id="role">Web Developer</span></h3>
                <h1>{{ translations[language].aboutTitle}}</h1>
                <transition-group name="fade" tag="div" class="paragraph-container">
                    <!-- Display paragraphs dynamically -->
                    <!-- <p v-for="(paragraph, index) in visibleParagraphs" :key="index" v-html="paragraph"></p> -->
                     <p>{{ translations[language].aboutP1}}</p>
                     <p>{{ translations[language].aboutP2}}</p>
                    <!-- Show More / Show Less button -->
                </transition-group>
             </section>
             <!-- =============== Skills =============== -->
             <section id="skills" class="section-container">
                <div class="section-heading">
                    <span><i class="fa-solid fa-layer-group"></i> {{ translations[language].technicalSkills }}</span>
                    <h3>{{ translations[language].skillsPerformance }}</h3>
                </div>
                <div class="skill-box-container big-box">
                    <!-- Main Skills -->
                    <div class="skill-box  bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="fa-solid fa-paintbrush"></i>
                            <div class="">
                                <h4>Graphics</h4>
                                <p>Photoshop</p>
                                <p>Illustrator</p>
                                <p>InDesign</p>
                            </div>
                         </div>
                         <div class="skill-box-content">
                            <i class="fa-solid fa-terminal"></i>
                            <div class="">
                                <h4>Web Design</h4>
                                <p>HTML, CSS, jQuery, PHP</p>
                                <p>WordPress and Laravel</p>
                                <p>Figma, React, Git and Azure</p>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="skill-box-container">
                    <!-- Figma -->
                    <div class="skill-box bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="fa-brands fa-figma"></i>
                            <span>Figma UI Design</span>
                         </div>
                         <!-- bar -->
                          <div class="skill-box-bar">
                            <span style="width:90%"></span>
                          </div>
                          <!-- percentage -->
                          <span class="skill-box-percentage">90%</span>
                    </div>
                    <!-- skill-box end -->
                    <!-- HTML -->
                    <div class="skill-box bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="fa-brands fa-html5"></i>
                            <span>HTML, CSS</span>
                         </div>
                         <!-- bar -->
                          <div class="skill-box-bar">
                            <span style="width:95%"></span>
                          </div>
                          <!-- percentage -->
                          <span class="skill-box-percentage">95%</span>
                    </div>
                    <!-- skill-box end -->
                    <!-- Illustrator -->
                    <div class="skill-box bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="adobe">Ai</i>
                            <span>Adobe illustrator</span>
                         </div>
                         <!-- bar -->
                          <div class="skill-box-bar">
                            <span style="width:85%"></span>
                          </div>
                          <!-- percentage -->
                          <span class="skill-box-percentage">85%</span>
                    </div>
                    <!-- skill-box end -->
                    <!-- Photoshop -->
                    <div class="skill-box bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="adobe">Ps</i>
                            <span>Adobe Photoshop</span>
                         </div>
                         <!-- bar -->
                          <div class="skill-box-bar">
                            <span style="width:75%"></span>
                          </div>
                          <!-- percentage -->
                          <span class="skill-box-percentage">75%</span>
                    </div>
                    <!-- skill-box end -->
                    <!-- InDesign -->
                    <div class="skill-box bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="adobe">Id</i>
                            <span>Adobe InDesign<br/></span>
                         </div>
                         <!-- bar -->
                          <div class="skill-box-bar">
                            <span style="width:70%"></span>
                          </div>
                          <!-- percentage -->
                          <span class="skill-box-percentage">70%</span>
                    </div>
                    <!-- skill-box end -->
                    <!-- WorePress -->
                    <div class="skill-box bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="fa-brands fa-wordpress"></i>
                            <span>WordPress</span>
                         </div>
                         <!-- bar -->
                          <div class="skill-box-bar">
                            <span style="width:80%"></span>
                          </div>
                          <!-- percentage -->
                          <span class="skill-box-percentage">80%</span>
                    </div>
                    <!-- skill-box end -->
                    <!-- React -->
                    <div class="skill-box bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="fa-brands fa-react"></i>
                            <span>ReactJs Frontend</span>
                         </div>
                         <!-- bar -->
                          <div class="skill-box-bar">
                            <span style="width:30%"></span>
                          </div>
                          <!-- percentage -->
                          <span class="skill-box-percentage">30%</span>
                    </div>
                    <!-- skill-box end -->
                    <!-- Laravel -->
                    <div class="skill-box bg-gredient" data-aos="fade-up">
                        <!-- heading -->
                         <div class="skill-box-content">
                            <i class="fa-brands fa-laravel"></i>
                            <span>Laravel Framework</span>
                         </div>
                         <!-- bar -->
                          <div class="skill-box-bar">
                            <span style="width:70%"></span>
                          </div>
                          <!-- percentage -->
                          <span class="skill-box-percentage">70%</span>
                    </div>
                    <!-- skill-box end -->
                </div>
             </section>
             <!-- =============== projects =============== -->
             <section id="projects" class="section-container">
                <div class="section-heading">
                    <span><i class="fa-solid fa-briefcase"></i> {{ (language === 'en') ? 'Projects' : 'المشاريع'}}</span>
                    <h3>{{ (language === 'en') ? 'Explore Portfolio' : 'استكشف المحفظة'}}</h3>
                </div>
                <!-- filter -->
                <ul class="project-list">
                    <li class="active" data-filter="all">{{ translations[language].projectAll }}</li>
                    <li class="" data-filter="logo_design">{{ translations[language].projectLogoDesign }}</li>
                    <li class="" data-filter="flyer_brochure">{{ translations[language].projectFlyerBrochure }}</li>
                    <li class="" data-filter="web_design"> {{ translations[language].projectWebDesign }}</li>
                    <li class="" data-filter="branding"> {{ translations[language].projectBranding }}</li>
                </ul>
                <!-- project container  -->
                 <div class="project-container"  data-aos="fade-up">
                    <div v-for="(project, index) in projectsWithIds" :key="project.id">
                        <!-- project box -->
                        <a :href="project.href" target="_blank" class="project-box" :class="project.class" :data-category="project.category">
                            <!-- img -->
                            <div class="project-box-img">
                                <img :src="'assets/images/' + project.image" :alt="project.projectName">
                            </div>
                            <!-- text -->
                            <div class="project-box-text-container">
                                <!-- detail -->
                                <div class="project-box-text">
                                    <div v-if="(language === 'en')">
                                        <strong>{{ project.projectName }}</strong>
                                        <div class="tag-wrapper mt-2">
                                            <span v-for="(tag, index) in project.tag" :key="index">{{ tag }}</span>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <strong>{{ project.projectNameAr }}</strong>
                                        <div class="tag-wrapper mt-2">
                                            <span v-for="(tagAr, index) in project.tagAr" :key="index">{{ tagAr }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                     

                 </div>
             </section>
              <!-- =============== Work Experience =============== -->
              <section id="work" class="section-container">
                <div class="section-heading">
                    <span><i class="fa-solid fa-briefcase"></i> {{ (language === 'en') ? 'Resume' : 'استأنف'}}</span>
                    <h3>{{ (language === 'en') ? 'Work Experience' : 'الخبرة العملية'}}</h3>
                </div>
                <div class="work-container">
                    <!-- box container -->
                     <div class="work-box-container">
                        <!-- box  -->
                         <div class="work-box" data-aos="fade-up" v-for="(work, index) in workEn" :key="index">
                            <span class="work-year">{{ (language === 'en') ? work.year : work.yearAr }}</span>
                             <strong>{{ (language === 'en') ? work.position : work.positionAr }}</strong>
                             <span class="work-location">{{ (language === 'en') ? work.company: work.companyAr }}</span>
                            <p v-for="(detail , index) in work.details" :kye="index">{{ (language === 'en') ?  detail : detailAr}}</p> 
                         </div>
                         <!-- <div class="work-box" data-aos="fade-up">
                            <span class="work-year">2020-2024</span>
                            <strong>UI Developer </strong>
                            <span class="work-location"> PropertyLoop (London, UK - Remote Work)</span>
                            <p>Create React frontend UI development work with the help of HTML, CSS with Tailwind and Ionic framework, create components ready to add functionality by React developers. Also helping UX designer to create Figma UX designs.</p>
                         </div>
                         <div class="work-box" data-aos="fade-up">
                            <span class="work-year">2019-2020</span>
                            <strong>UI Developer </strong>
                            <span class="work-location"> Pollux Enterprises (Mumbai)</span>
                            <p>Develop UX Figma design to HTML CSS frontend design in CodeIgniter(PHP) using vsCode and prepare the page to add functionality by code developers.</p>
                         </div>
                         <div class="work-box" data-aos="fade-up">
                            <span class="work-year">2007-2018</span>
                            <strong>Sr. Graphic & Web Designer </strong>
                            <span class="work-location">Zultec Group (Jeddah,KSA)</span>
                            <p>Web Design & Maintain Company's all Websites. Graphis: Design Brochures, Flyers, Exhibition Stand Branding & Assist to Marketing Manager.</p>
                         </div>
                         <div class="work-box" data-aos="fade-up">
                            <span class="work-year">2004-2006</span>
                            <strong>Graphic Designer </strong>
                            <span class="work-location">Promo Insight (Jeddah,KSA)</span>
                            <p>Making Brochures, Flyers, Logos & Brandings.</p>
                         </div>
                         <div class="work-box" data-aos="fade-up">
                            <span class="work-year">2003-2004</span>
                            <strong>Graphic Designer </strong>
                            <span class="work-location">AlFun (Jeddah,KSA)</span>
                            <p>Making Brochures, Flyers, Logos & Brandings.</p>
                         </div> -->
                     </div>
                </div>
              </section>
              <!-- =============== education =============== -->
              <section id="education" class="section-container">
                <div class="section-heading">
                    <span><i class="fa-solid fa-graduation-cap"></i> Education</span>
                </div>
                <div class="eduction-container">
                    <!-- box container -->
                     <div class="eduction-box-container">
                        <!-- box  -->
                         <div class="eduction-box" :data-aos=" (language === 'en') ? 'fade-up' : '' " v-for="(education, index) in educationEn" :key="index">
                            <span class="eduction-year">{{ (language === 'en') ? education.year : education.yearAr }}</span>
                            <strong>{{ (language === 'en') ? education.degree : education.degreeAr }}</strong>
                            <span class="eduction-location">{{ (language === 'en') ? education.location : education.locationAr }}</span>
                            <p>{{ (language === 'en') ? education.institute : education.instituteAr }}</p>
                         </div>
                     </div>
                </div>
              </section>
        </div>
    </div>
    <!-- Add Vue.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- scroll animation  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        // Vue App for Menu
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    socialMediaItems:[
                        { id: 1, href: 'tel:00917304776286', icon: 'fa-solid fa-phone' },
                        { id: 2, href: 'mailto:asr.designmaster@gmail.com', icon: 'fa-solid fa-envelope' },
                        { id: 3, href: 'https://wa.me/917304776286', icon: 'fa-brands fa-whatsapp' },
                        { id: 4, href: 'https://in.linkedin.com/in/altamash-rashid', icon: 'fa-brands fa-linkedin' },
                    ],
                    projectsItems:[
                        {   

                            href: 'https://rnakashmir.com', 
                            image:"projects/rna-kashmir.webp", 
                            projectName:"RNA Kashmir", 
                            projectNameAr:"آر این اے کشمیر", 
                            tag:["WordPress"], 
                            tagAr:["وردبریس"], 
                            class: 'web_design_item', 
                            category:'web_design' 
                        },

                        {   
                            href: 'https://newagecanada.com/', 
                            image:"projects/new-age-canada.jpg", 
                            projectName:"New Age Canada", 
                            projectNameAr:"نیو ایج کانادا", 
                            tag:["WordPress", "eCommerce"], 
                            tagAr:["وردبریس", "کانادا","التجارة الإلكترونية"], 
                            class: 'web_design_item', 
                            category:'web_design' 
                        },
                        {   href: 'https://kitabdaar.com/', 
                            image:"projects/kitabdaar.jpg", 
                            projectName:"Kitabdaar", 
                            projectNameAr:"کتاب دار", 
                            tag:["WordPress", "eCommerce"], 
                            tagAr:["وردبریس","التجارة الإلكترونية", "اردو"], 
                            class: 'web_design_item', 
                            category:'web_design' 
                        },
                        {   href: 'https://newageamerica.com/us/', 
                            image:"projects/new-age-america.jpg", 
                            projectName:"New Age America", 
                            projectNameAr:"نیو ایج امریکہ", 
                            tag:["WordPress", "USA","eCoomerce"], 
                            tagAr:["وردبریس", "امریکہ","التجارة الإلكترونية"], 
                            class: 'web_design_item', 
                            category:'web_design' 
                        },
                        {   href: 'https://dy-namic.com', 
                            image:"projects/dy-namic.jpg", 
                            projectName:"Dynamic Agency", 
                            projectNameAr:"دائنامک ایجنسی", 
                            tag:["WordPress","دبئی"], 
                            tagAr:["وردبریس","دبئی"], 
                            class: 'web_design_item', 
                            category:'web_design' 
                        },
                        {   href: 'https://glorousgoldleafing.com/', 

                            image:"projects/gloriousgoldleafing-scaled.jpg", 
                            projectName:"Glorious Gold Leafing", 
                            projectNameAr:"أوراق الذهب المجيدة", 
                            tag:["WordPress"], 
                            tagAr:["وردبریس"], 
                            class: 'web_design_item', 
                            category:'web_design' 
                        },

                        {   href: 'https://tanveerisrar.com/', 

                            image:"projects/tanveerisrar.jpg", 
                            projectName:"Tanveer Israr", 
                            projectNameAr:"تنویر اسرار", 
                            tag:["WordPress"], 
                            tagAr:["وردبریس"], 
                            class: 'web_design_item', 
                            category:'web_design' 
                        },

                        {   href: 'https://amroha.info/', 
                            image:"projects/amroha.jpg", 
                            projectName:"Amroha", 
                            projectNameAr:"امروہہ", 
                            tag:["PHP", "City info"], 
                            tagAr:["پی ایچ پی", "معلومات عن المدينة"], 
                            class: 'web_design_item', 
                            category:'web_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-3dots-media.jpg", 
                            projectName:"3 Dots Media", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-kitabdaar.jpg", 
                            projectName:"Kitabdaar", 
                            projectNameAr:"کتاب دار", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-bowers.jpg", 
                            projectName:"Bowers", 
                            projectNameAr:"بوورس", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-brit-buzzard.jpg", 
                            projectName:"Brit Buzzard", 
                            projectNameAr:"برت بزرد", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-newage-canada.jpg", 
                            projectName:"NewAge Canada", 
                            projectNameAr:"نیو ایج کانادا", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-ntrackx.jpg", 
                            projectName:"nTrackx", 
                            projectNameAr:"نتراکس", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-pollux.jpg", 
                            projectName:"Pollux Enterprises", 
                            projectNameAr:"بولكس مؤسسة", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-talal.jpg", 
                            projectName:"Talal", 
                            projectNameAr:"طلال", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"logos/logo-jazbaa.jpg", 
                            projectName:"Jazba", 
                            projectNameAr:"جزبہ", 
                            tag:["Logo"], 
                            tagAr:["الشعار"], 
                            class: 'logo_item', 
                            category:'logo_design' 
                        },
                        {   href: '', 
                            image:"flyers/brochure-2.jpg", 
                            projectName:"Food Co.", 
                            projectNameAr:"شركة أغذية", 
                            tag:["Brochure"], 
                            tagAr:["كتيب"], 
                            class: 'logo_item', 
                            category:'flyer_كتيب' 
                        },
                        {   href: '', 
                            image:"flyers/brochure-4.jpg", 
                            projectName:"Software", 
                            projectNameAr:"برمجيات", 
                            tag:["Brochure"], 
                            tagAr:["كتيب"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/brochure-5.jpg", 
                            projectName:"Engineering", 
                            projectNameAr:"هندسة", 
                            tag:["Brochure"], 
                            tagAr:["كتيب"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/brochure-1.jpg", 
                            projectName:"Lina Dates", 
                            projectNameAr:"تمور لينا", 
                            tag:["Brochure"], 
                            tagAr:["كتيب"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/brochure-7.jpg", 
                            projectName:"Talal", 
                            projectNameAr:"طلال", 
                            tag:["Brochure"], 
                            tagAr:["كتيب"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/flyer-1.jpg", 
                            projectName:"KAEC", 
                            projectNameAr:"مدينة الملك عبدالله الاقتصادية", 
                            tag:["Flyer"], 
                            tagAr:["نشره"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/flyer-7.jpg", 
                            projectName:"Lina Dates", 
                            projectNameAr:"تمور لينا", 
                            tag:["Flyer"], 
                            tagAr:["نشره"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/flyer-8.jpg", 
                            projectName:"Lina Dates", 
                            projectNameAr:"تمور لينا", 
                            tag:["Flyer"], 
                            tagAr:["نشره"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/flyer-12.jpg", 
                            projectName:"Lina Dates", 
                            projectNameAr:"تمور لينا", 
                            tag:["Flyer"], 
                            tagAr:["نشره"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/flyer-13.jpeg", 
                            projectName:"Rehmania Restaurant", 
                            projectNameAr:"مطعم رحمانيا", 
                            tag:["Flyer"], 
                            tagAr:["نشره"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"flyers/flyer-10.jpg", 
                            projectName:"KAEC", 
                            projectNameAr:"مدينة الملك عبدالله الاقتصادية", 
                            tag:["Flyer"], 
                            tagAr:["نشره"], 
                            class: 'logo_item', 
                            category:'flyer_brochure' 
                        },
                        {   href: '', 
                            image:"branding/branding-1.jpg", 
                            projectName:"3dotsmedia", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Branding", "Logo Design"], 
                            tagAr:["العلامة التجارية", "Logo Design"], 
                            class: 'logo_item', 
                            category:'branding' 
                        },
                        {   href: '', 
                            image:"branding/branding-2.jpg", 
                            projectName:"3dotsmedia", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Branding", "Creative"], 
                            tagAr:["العلامة التجارية", "Creative"], 
                            class: 'logo_item', 
                            category:'branding' 
                        },
                        {   href: '', 
                            image:"branding/branding-3.jpg", 
                            projectName:"3dotsmedia", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Branding", "Colors"], 
                            tagAr:["العلامة التجارية", "Colors"], 
                            class: 'logo_item', 
                            category:'branding' 
                        },
                        {   href: '', 
                            image:"branding/branding-4.jpg", 
                            projectName:"3dotsmedia", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Branding", "Typography"], 
                            tagAr:["العلامة التجارية", "الطباعه"], 
                            class: 'logo_item', 
                            category:'branding' 
                        },
                        {   href: '', 
                            image:"branding/branding-5.jpg", 
                            projectName:"3dotsmedia", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Branding", "Cards"], 
                            tagAr:["العلامة التجارية", "البطاقات"], 
                            class: 'logo_item', 
                            category:'branding' 
                        },
                        {   href: '', 
                            image:"branding/branding-6.jpg", 
                            projectName:"3dotsmedia", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Branding", "Stationary"], 
                            tagAr:["العلامة التجارية", "ثابت"], 
                            class: 'logo_item', 
                            category:'branding' 
                        },
                        {   href: '', 
                            image:"branding/branding-7.jpg", 
                            projectName:"3dotsmedia", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Branding", "Presentation"], 
                            tagAr:["العلامة التجارية", "تقديم"], 
                            class: 'logo_item', 
                            category:'branding' 
                        },
                        {   href: '', 
                            image:"branding/branding-8.jpg", 
                            projectName:"3dotsmedia", 
                            projectNameAr:"3 داتس میڈیا", 
                            tag:["Branding", "Brouchure"], 
                            tagAr:["العلامة التجارية", "كتيب"], 
                            class: 'logo_item', 
                            category:'branding' 
                        },

                    ],
                    
                    aboutParagraphs: [
                        "I'm a versatile creative professional passionate about design and web development. My journey began in graphic design, where I honed my skills in visual storytelling and captivating visuals. Expanding my expertise, I mastered HTML, CSS, and PHP, enabling me to craft seamless, dynamic web experiences. My passion for innovation led me to React, where I developed responsive interfaces, and WordPress, where I built robust, customized websites.",
                        "Further enhancing my workflow, I embraced Figma for prototyping and user-centric design. Today, I seamlessly blend creativity and technical finesse, transitioning between graphic and web design to deliver visually stunning, functional digital experiences.",
                    ],
                    workEn: [
                        {
                            year : '2024 - Till Now',
                            position : 'UI developer & Graphic Designer',
                            company : 'New Age Canada (Canada - Remote Work)',
                            details : ["Handling 3 websites for New Age canada."],
                            yearAr : '2024 - حتى الآن',
                            positionAr : 'مطوّر واجهات المستخدم ومصمم جرافيك',
                            companyAr : 'New Age Canada (كندا) - عمل عن بُعد',
                            detailsAr : ["إدارة 3 مواقع ويب لشركة New Age Canada، بما في ذلك New Age America وموقعين داخليين آخرين.",
                            "العمل على جميع المراحل بدءًا من التصميم UI/UX وحتى البرمجة، النشر، والصيانة لهذه المواقع الثلاثة.",
                            "تصميم جميع المواد التسويقية الخاصة بمنتجات الشركة، بما في ذلك المنشورات، الكتيبات، صفحات منتجات أمازون، وتصميم المتاجر الإلكترونية.",
                            ],
                        },
                        {
                            year : '2020-2024',
                            position : 'UI developer',
                            company : 'PropertyLoop(London, UK) - Remote Work',
                            details : ["Create React frontend UI development work with the help of HTML, CSS with Tailwind and Ionic framework, create components ready to add functionality by React developers. Also helping UX designer to create Figma UX designs."],
                            yearAr : '2020-2024',
                            positionAr : 'مطوّر واجهات المستخدم',
                            companyAr : 'PropertyLoop (لندن، المملكة المتحدة) - عمل عن بُعد',
                            detailsAr : ["تطوير الواجهات الأمامية لموقع React باستخدام HTML، CSS، Tailwind، وإطار العمل Ionic. إنشاء مكونات جاهزة لإضافة الوظائف من قبل مطوري React. مساعدة مصممي تجربة المستخدم UX في إنشاء التصاميم عبر Figma. ",],
                        },
                        {
                            year : '2019-2020',
                            position : 'UI Developer',
                            company : 'Pollux Enterprises (Mumbai)',
                            details : ["Develop UX Figma design to HTML CSS frontend design in CodeIgniter(PHP) using vsCode and prepare the page to add functionality by code developers."],
                            yearAr : '2019-2020',
                            positionAr : 'مطوّر واجهات المستخدم',
                            companyAr : 'مؤسسة بولوكس (مومباي، الهند)',
                            detailsAr : ["تحويل تصاميم Figma UX إلى تصميم HTML وCSS للواجهة الأمامية باستخدام CodeIgniter (PHP) عبر محرر VS Code. تجهيز الصفحات لإضافة الوظائف من قبل مطوري البرمجيات.",],
                        },
                        {
                            year : '2007-2018',
                            position : 'Sr. Graphic & Web Designer',
                            company : 'Zultec Group (Jeddah, KSA)',
                            details : ["Web Design & Maintain Company's all Websites. Graphis: Design Brochures, Flyers, Exhibition Stand Branding & Assist to Marketing Manager."],
                            yearAr : '2007-2018',
                            positionAr : 'مصمم جرافيك ومواقع ويب أول',
                            companyAr : 'مجموعة زولتيك (جدة، السعودية)',
                            detailsAr : [ "تصميم وإدارة جميع مواقع الشركة. تصميم المواد الجرافيكية مثل الكتيبات، المنشورات، تصاميم المعارض، ومساعدة مدير التسويق",],
                        },
                        {
                            year : '2004-2006',
                            position : 'Graphic Designer ',
                            company : 'Promo Insight (Jeddah, KSA)',
                            details : [""],
                            yearAr : '2004-2006',
                            positionAr : 'مصمم جرافيك',
                            companyAr : 'برومو اناسائت (جدة، السعودية)',
                            detailsAr : ["تصميم الكتيبات، المنشورات، الشعارات، والهويات البصرية.",],
                        },
                        {
                            year : '2003-2004',
                            position : 'Graphic Designer ',
                            company : 'Al Fun(Jeddah, KSA)',
                            details : ["Making Brochures, Flyers, Logos & Brandings."],
                            yearAr : '2003-2004',
                            positionAr : 'مصمم جرافيك',
                            companyAr : 'الفن (جدة، السعودية)',
                            detailsAr : ["تصميم الكتيبات، المنشورات، الشعارات، والهويات البصرية.",],
                        },
                    ],

                    educationEn: [
                        {
                            year : '2000',
                            degree : 'Master of Arts (M.A.)',
                            institute : 'Mumbai University',
                            location : 'Mumbai',
                            yearAr : '2000',
                            degreeAr : ' ماجستير في الآداب (M.A.)',
                            instituteAr : 'جامعة مومباي',
                            locationAr : 'مومباي',

                        },
                        {
                            year : '1997',
                            degree : 'Bachelor of Arts (B.A.)',
                            institute : 'Mumbai University',
                            location : 'Mumbai',
                            yearAr : '1997',
                            degreeAr : 'بكالوريوس في الآداب (B.A.)',
                            instituteAr : 'كلية ماهاراشترا للفنون والتجارة والعلوم ',
                            locationAr : 'مومباي',

                        },
                        {
                            year : '1994',
                            degree : 'Bachelor of Arts (B.A.)',
                            institute : 'Ideal High School and Junior Collage',
                            location : 'Thane',
                            yearAr : '1994',
                            degreeAr : 'الثانوية العامة (H.S.C)',
                            instituteAr : 'المدرسة الثانوية المثالية والكلية الثانوية ',
                            locationAr : 'تھانے',

                        },
                        {
                            year : '1990',
                            degree :  'Secondary School (S.S.C - 10th)',
                            institute :  'M.H. Saboo Siddique High School & Engineering Collage',
                            location : 'Mumbai',
                            yearAr : '1990',
                            degreeAr :  'الشهادة الثانوية (S.S.C - الصف العاشر)',
                            instituteAr :  'مدرسة محمد حاجي سابو صديق الثانوية والهندسة',
                            locationAr : 'مومباي',

                        },

                    ],
                    showMore: false, // Toggle state
                    initialLimit: 2, // Number of paragraphs to show initially

                    language: "en",
                    translations: {
                        en: {
                            language: "en",
                            role: "Web Developer",
                            name: "Altamash S. Rashid",
                            hello: "Hello, I am a",
                            aboutTitle: "Senior Web Designer / Developer from Mumbai, India.",
                            aboutText: [
                                "I have 10+ years of experience in designing and developing web applications.",
                                "Expert in Laravel, Vue.js, WordPress, and UI/UX Design."
                            ],
                            address: "36/38, Alloparoo Bldg, 4th floor, Xlane, Charnull, Dongri, Mumbai-400009, India.",
                            about: "About",
                            skills: "Skills",
                            projects: "Propjects",
                            work: "Work",
                            education: "Education",
                            technicalSkills: "Technical Skills",
                            skillsPerformance: "Skills & Performance",
                            explorePortfolio: "Explore Portfolio",
                            aboutP1: "I'm a versatile creative professional passionate about design and web development. My journey began in graphic design, where I honed my skills in visual storytelling and captivating visuals. Expanding my expertise, I mastered HTML, CSS, and PHP, enabling me to craft seamless, dynamic web experiences. My passion for innovation led me to React, where I developed responsive interfaces, and WordPress, where I built robust, customized websites.",
                            aboutP2: "Further enhancing my workflow, I embraced Figma for prototyping and user-centric design. Today, I seamlessly blend creativity and technical finesse, transitioning between graphic and web design to deliver visually stunning, functional digital experiences.",
                            projectAll: "All",
                            projectLogoDesign: "Logo Design",
                            projectFlyerBrochure: "Flyer & Brochure",
                            projectWebDesign: "Web Design",
                            projectBranding: "Branding",
                            projectTagWrodPress: "WordPress",
                            projectTagEcom: "Ecommerce",
                            projectTagCityInfo: "City Information",
                            projectTagLogo: "Logo",
                        },
                        ar: {
                            language:"ar",
                            role: "مطور ويب",
                            name: "التمش رشید",
                            hello: "مرحبا، أنا",
                            aboutTitle: "أقدم ویب دیزائنر/ دیولپر من مومباي، الهند.",
                            aboutText: [
                                "لدي خبرة تزيد عن 10 سنوات في تصميم وتطوير تطبيقات الويب.",
                                "خبير في Laravel و Vue.js و WordPress وتصميم UI/UX."
                            ],
                            address: "٣٦/٣٨، مبنى ألوبارو، الطابق الرابع، اكس لين، تشارنول، دونجري، مومباي-٤٠٠٠٠٩، الهند.",
                            about: "عن نفسي",
                            skills: "المهارات",
                            projects: "المشاريع",
                            work: "الخبرة العملية",
                            education: "تعليم",
                            technicalSkills: "المهارات الفنية",
                            skillsPerformance: "المهارات والأداء",
                            explorePortfolio: "استكشف المحفظة",
                            aboutP1: "أنا محترف إبداعي متعدد المهارات شغوف بالتصميم وتطوير الويب. بدأت رحلتي في مجال التصميم الجرافيكي، حيث طورت مهاراتي في السرد البصري وإنشاء المرئيات الجذابة. ومع توسع خبرتي، أتقنت HTML وCSS وPHP، مما مكنني من تطوير تجارب ويب سلسة وتفاعلية. دفعني شغفي بالابتكار إلى التعمق في React لإنشاء واجهات مستجيبة، وكذلك في WordPress لبناء مواقع مخصصة وقوية.",
                            aboutP2: "أنا محترف إبداعي متعدد المهارات شغوف بالتصميم وتطوير الويب. بدأت رحلتي في مجال التصميم الجرافيكي، حيث طورت مهاراتي في السرد البصري وإنشاء المرئيات الجذابة. ومع توسع خبرتي، أتقنت HTML وCSS وPHP، مما مكنني من تطوير تجارب ويب سلسة وتفاعلية. دفعني شغفي بالابتكار إلى التعمق في React لإنشاء واجهات مستجيبة، وكذلك في WordPress لبناء مواقع مخصصة وقوية.",
                            projectAll: "الكل",
                            projectLogoDesign: "تصميم الشعار ",
                            projectFlyerBrochure: "تصميم المنشورات والكتيبات",
                            projectWebDesign: "تصميم الويب",
                            projectBranding: "العلامة التجارية",
                            projectTagWrodPress: "ووردبريس",
                            projectTagEcom: "التجارة الإلكترونية",
                            projectTagCityInfo: "معلومات عن المدينة",
                            projectTagLogo: "الشعار",
                        }
                    }
                };
            },
            computed: {
                projectsWithIds() {
                    return this.projectsItems.map((project, index) => ({
                        ...project,
                        id: index + 1 // Start IDs from 1
                    }));
                },
                visibleParagraphs() {
                    // Return only initialLimit paragraphs if not showing more, otherwise return all
                    return this.showMore ? this.aboutParagraphs : this.aboutParagraphs.slice(0, this.initialLimit);
                }
            },

            methods: {
                //about us show more btn
                toggleShowMore() {
                this.showMore = !this.showMore; // Toggle between true and false

                    // Switch Stylesheet
                    if (this.language  === 'ar') {
                        document.getElementById("rtl-stylesheet").setAttribute("href", "assets/arabic.css");
                    }
                },


                toggleLanguage() {
                    this.language = this.language === "en" ? "ar" : "en";
                    document.documentElement.lang = this.language;
                },

                
            },

        }).mount('#app');



        // Word typing effect 
        document.addEventListener('DOMContentLoaded', () => {
            const roles = [
                'Web Developer', 
                'Web Designer', 
                'UI/UX Designer', 
                'Graphic Designer'
            ];
            const roleElement = document.getElementById('role');

            let roleIndex = 0;
            let letterIndex = 0;
            let typingInterval;

            function typeRole(){
                roleElement.style.opacity = 0;
                setTimeout( () => {
                    roleElement.textContent = "";
                    letterIndex = 0;

                    typingInterval = setInterval( () => {
                        if(letterIndex < roles[roleIndex].length){
                            roleElement.textContent += roles[roleIndex].charAt(letterIndex);
                            letterIndex++;
                        }
                        else{
                            clearInterval(typingInterval);
                            setTimeout( () =>{
                                roleIndex = (roleIndex + 1) % roles.length;
                                typeRole();
                            }, 1000);
                        }
                            
                    }, 150);
                    roleElement.style.opacity = 1;
                }, 500);
            }
            // start type role funciton
            typeRole();
        });

        // project filter
        document.addEventListener('DOMContentLoaded', () => {
            const filterButtons = document.querySelectorAll('.project-list li');
            const projects = document.querySelectorAll('.project-box');

            filterButtons.forEach((button) => {
                button.addEventListener('click', ()=>{
                    filterButtons.forEach((btn) => btn.classList.remove("active"));
                    button.classList.add("active");

                    const filter = button.getAttribute('data-filter');

                    projects.forEach((project) => {
                        if (filter === 'all' || project.getAttribute("data-category") === filter) {
                            project.style.display = "block";
                        } else {
                            project.style.display = "none";
                        }
                    });
                })
            })
            // nav active link
            const section = document.querySelectorAll("section");
            const navLinks = document.querySelectorAll("ul li a");

            function setActiveLink() {
            let currentSection = "";

            section.forEach((section) => {
                const sectionTop = section.offsetTop;
                const sectionHeight = section.offsetHeight;

                if (window.scrollY >= sectionTop - sectionHeight / 3) {
                currentSection = section.getAttribute("id");
                }
            });

            navLinks.forEach((link) => {
                link.classList.remove("active");
                if (link.getAttribute("href") === `#${currentSection}`) {
                link.classList.add("active");
                }
            });
            }

            window.addEventListener("scroll", setActiveLink);
        });


        // aos install
        AOS.init();
    </script>

</body>

</html>